
.item {
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    transition: height .3s;
}

.control {
    position: relative;
}

.panel {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    visibility: hidden;
    transition: visibility .3s;
}

[data-status="open"] .panel {
    visibility: visible;
}
